#register-form
  =form_for @user do |user_form| 
    = user_form.text_field :name, {class: "form-control", placeholder:"user name"}
    %br/
    = user_form.text_field :email, {class: "form-control", placeholder:"email"}
    %br/
    = user_form.text_field :password, {class: "form-control", placeholder:"password"}
    %br/
    = user_form.submit "Register",{class: "btn btn-primary btn-lg btn-block"}
