=provide :title, "Sign Up"

=render "errors/errors", object: @user

.jumbotron
  %h2.form-signin-heading Please sign up
  =render "sign_up_form"

-if @user.errors.any? 
  :javascript
    $('.field_with_errors').addClass("has-error");
