.jumbotron
  -if flash[:notice]
    %h2.alert.alert-success #{flash[:notice]} 
  =link_to "Create a Post", new_user_post_path(@user), {style: "display:block;"}
  =link_to "All Posts", user_posts_path(@user), {style:"display:block;"}
