-provide(:title, "Rest password")

=render "errors/errors", object:@user

.jumbotron
  %h2 Reset password 
  =form_for @user, url:password_path(params[:id]) do |password_form|
    .form-group
      =password_form.password_field :password, {class: "form-control", placeholder:"new password"}

    .form-group
      =password_form.password_field :password_confirmation, {class: "form-control", placeholder:"confirm your password"}
    =password_form.submit "Update", {class:"btn btn-primary btn-lg btn-block"} 

