-provide(:title, "Find back password")

.jumbotron
  %h2 Reset your password 
  =form_tag passwords_path do 
    .form-group
      =text_field_tag :email, params[:email], {class:"form-control", placeholder: "Email for reseting your password"}

    =submit_tag "Send", {class:"btn btn-primary btn-lg btn-block"}
