%h1 Reseting your password 

.jumbotron

  =form_for :password, url: password_path(:password) do |password_form|
    .form-group
      =password_form.text_field :email, {class:"form-control", placeholder: "Email for reseting your password"}

    =password_form.submit "Send", {class:"btn btn-primary btn-lg btn-block"}
