PasswordMailer#reset_password_email

="#{@greeting}" + ", find me in app/views/password_mailer/reset_password_email.text.haml"

"reset your password by clicking the following link:"
=edit_password_path(@user.password_reset_token) 
