PasswordMailer#reset_password_email

="#{@greeting}" + ", find me in app/views/password_mailer/reset_password_email.text.haml"

"reset your password by clicking the following link:"
=url_for action: :edit, controller: :passwords, only_path: false,  host: "localhost:3000"
