-provide(:title, "All Posts")

- if @posts.any?
  .panel.panel-default
    .panel-heading
      %span.label.label-primary Title
      %span.pull-right Tags

  %ul.list-group
    -@posts.each do |post|
      %li.list-group-item 
        =link_to "#{post.title} -- #{post.user.name}", post_path(post) 
        -if post.categories.count !=0
          -post.categories.each do |category|
            =link_to "#{category.category}", category_path(category), {class:"badge"}
                

  =will_paginate 
