-provide(:title, "All Posts")

- if @posts.any?
  .panel.panel-default
    .panel-heading
      %span.label.label-primary Title
      %span.pull-right Tag

  %ul.list-group
    -@posts.each do |post|
      %li.list-group-item 
        =link_to "#{post.title} -- #{post.user.name}", post_path(post) 
        %span.badge 
          -if post.categories.count !=0
            -post.categories.each do |category|
              #{category.category}
          -else
            0
