// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
body {
  padding-top: 40px;
  padding-bottom: 40px;
  //background-color: #eee;

	.jumbotron {
		li{ 
			text-align: left;
		}
	}
	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;

		.form-signin-heading{
			margin-bottom:10px;
		}

		.checkbox{
			@extend .form-signin-heading;
			font-weight: normal;
		}

		.form-control{
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&:focus{
				z-index: 2;
			}
		}


		input[type="text"]{
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	
	#carbonads-container {display:none} h1[id] {padding-top:0px; margin-top:20px} .bs-old-docs {display:none} .bs-social {display:none} .col-md-3 {display:none !important} .col-md-9 {width:100% !important} .navbar-fixed-top {position:absolute !important}

}


