!!! 5

%html
  %head
    %title 
      =yield :title
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 

  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          -if signed_in?
            %li.active 
              =link_to "Home", posts_path 
            %li
              =link_to current_user.name.camelcase, user_path(current_user)
            %li 
              =link_to "Sign Out", signout_path
          -else
            %li.active 
              =link_to "Home", root_path 
            %li
              =link_to "Sign In", signin_path 
          %li 
            =link_to "Contact", "#"
        %h3.text-muted Originate China

      -if flash[:notice]
        .alert.alert-danger
          .h3
            =flash[:notice]
      -if flash[:success]
        .alert.alert-success
          .h3
            =flash[:success]

      = yield 

      .footer.clearfix
        %p &copy; Company 2013
