!!! 5

%html
  %head
    %title 
      =yield :title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags 
	  
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active 
            =link_to "Home", {controller: "home", action: "index"} 
          %li 
            -if session[:id]
              =link_to "Sign Out", signin_path 
            -else
              =link_to "Sign In", signin_path 
          %li 
            =link_to "Contact", "#"
        %h3.text-muted Originate China

      = yield 

      .footer
        %p &copy; Company 2013
